@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store locked for members only!</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" type="text/css" href="/Plugins/Widgets.MembersOnly/Assets/members-only/plugins/fontawesome-free/css/all.min.css" />

    <link rel="stylesheet" type="text/css" href="/Plugins/Widgets.MembersOnly/Assets/members-only/css/adminlte.min.css?v=3.2.0" />

    <link rel="stylesheet" type="text/css" href="/Plugins/Widgets.MembersOnly/Assets/members-only/protect-page.css" asp-append-version="true" />
</head>
<body class="hold-transition lockscreen">

    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
@*             <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg" class="img-fluid mt-2" />
 *@        </div>

        <div class="lockscreen-name">Locked Store</div>

        <div class="lockscreen-item">

            <div class="lockscreen-image">
                <img src="/Plugins/Widgets.MembersOnly/Assets/members-only/images/200w.gif" alt="Fish image">
            </div>

            <form id="lockscreen-credentials" class="lockscreen-credentials" method="post" action="Plugins/MembersOnly/Check">
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                    <div class="input-group-append">
                        <button type="submit" class="btn">
                            <i class="fas fa-arrow-right text-muted"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>


    @*<script src="../../plugins/jquery/jquery.min.js"></script>*@
    <script src="/Plugins/Widgets.MembersOnly/Assets/members-only/plugins/jquery/jquery.min.js"></script>

    @*<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="/Plugins/Widgets.MembersOnly/Assets/members-only/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        $('#lockscreen-credentials').on('submit', function(e){
            e.preventDefault();

            var form = $(this);

            $.ajax({ 
                 url   : form.attr('action'),
                 type  : form.attr('method'),
                 data  : form.serialize(), // data to be submitted
                 success: function(response){
                    //alert(response); // do what you like with the response
                    window.location.reload();
                 }
            });
            return false;
         });
    </script>
</body>
</html>
